/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
.eastwood
.env
e2e/actual/*
e2e/expected/*.trimmed.png
e2e/expected/*.trimmed.cropped.png
e2e/screenshots/*
